body {
    margin: 50px;
}

.highlight {
    color: #FF0000;
}

#ttt-container {
    border-top: 6px solid #444;
    border-left: 6px solid #444;
    border-collapse: collapse;
}

.row, .row-bottom {
    border-bottom: 2px solid #444;
    border-right: 6px solid #444;
}

.row-bottom {
    border-bottom: 6px solid #444;
}

.col, .col-right {
    width: 64px;
    height: 64px;
    border-right: 2px solid #444;
    text-align: center;
}

.col-right {
    border-right: 6px solid #444;
}